<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aprendiendo Flexbox">
    <meta name="robots" content="index,follow">
    <title>Flexbox</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main class="container">
        <section class="box-1 box">
            <p>Box 1</p>
        </section>
        <section class="box-2 box">
            <p>Box 2</p>
        </section>
        <section class="box-3 box">
            <p>Box 3</p>
        </section>
        <section class="box-4 box">
            <p>Box 4</p>
        </section>
        <section class="box-5 box">
            <p>Box 5</p>
        </section>
        <section class="box-6 box">
            <p>Box 6</p>
        </section>
    </main>
</body>
</html>